@media only screen and ( min-resolution: 80dpi ) {
    .section-projects {
        margin-left: 20px;
    }

    .section-hello-world {
        margin: 2.5vh;
        padding: 5vh;
        height: 70vh;
    }
}

@media only screen and ( min-resolution: 60dpi ) {
    html, body {
        font-size: 18px;
    }

    .section-hello-world {
        padding: 2vh 4vh;
        height: 65vh;
    }
}

@media only screen and ( min-resolution: 40dpi ) {
    html, body {
        font-size: 15px;
    }

    #profile_pic {
        width: 25vh;
        height: auto;
    }

    .section-form input[type=submit] {
        position: relative;
        top: 0;
        left: 0;
    }

    input {
        margin: 5px 0;
    }
}

@media only screen and ( min-resolution: 20dpi ) {
    .centering {
        margin-top: 15px;
        margin-left: 7.5%;
    }

    .section-header {
        background-size: 0%;
    }

    .section-hello-world {
        margin: 0;
        padding: 7.5vh;
        background-color: #ecf0f1;
    }

    .header-copyright {
        display: none;
    }

    #profile_pic {
        margin-top: 2.5vh;
        margin-bottom: 1.25vh;
        width: 20vh;
        height: auto;
    }

    .techs {
        display: none;
    }

    input[type=text],
    input[type=email],
    select,
    textarea {
        width: 100%;
        margin-top: 10px;
    }

    .section-form input[type=submit] {
        height: 52.5px;
        width: 52.5px;
        font-size: 140%;
    }
}