/*
    Table of comments

    Small tablets
    Small phones and tablets
    Small phones
    
*/

/* Small tablets, iPad portrait */

@media only screen and ( max-width: 80em ) {
    html, body {
        font-size: 18px;
    }

    #profile_pic {
        width: 22.5vh;
        height: auto;
    }

    .section-hello-world {
        padding: 2vh 4vh;
    }
}

/* Small phones to small tablets */

@media only screen and ( max-width: 50em ) {
    html, body {
        font-size: 15px;
    }

    .section-hello-world {
        margin: 2.5vh;
        padding: 5vh;
    }

    #profile_pic {
        width: 20vh;
        height: auto;
    }

    input {
        margin: 5px 0;
    }

    .span-1-of-3 {
        width: 45% !important;
    }
}

/* Small phones */

@media only screen and ( max-width: 30em ) {
    .section-header {
        background-size: 0%;
    }

    .section-hello-world {
        margin: 0;
        padding: 5vh;
    }

    .header-copyright {
        display: none;
    }

    #profile_pic {
        margin-top: 2.5vh;
        margin-bottom: 1.25vh;
        width: 20vh;
        height: auto;
    }

    .techs {
        display: none;
    }

    input[type=text],
    input[type=email],
    select,
    textarea {
        width: 100%;
        margin-top: 10px;
    }

    .section-form input[type=submit] {
        position: relative;
        top: 0;
        left: 0;
        height: 52.5px;
        width: 52.5px;
        font-size: 150%;
    }

    .span-1-of-3 {
        width: 70% !important;
    }

    .centering {
        margin-left: 15%;
        margin-right: 15%;
    }
}