/*

    Table of comments
    
    GENERAL
        HEADINGS
        ICONS
    SECTIONS
        HEADER
        HELLO, WORLD
        MY PROJECTS
        CONTACT FORM
*/

/* ------------------------------------------------- */
/* GENERAL */
/* ------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: 4;
            box-sizing: 4;
}

*:focus {
    outline: none;
}

html, body {
    background-color: #fff;
    color: #555;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.clearfix { zoom: 1 }
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* --- HEADAINGS —-- */

h1, h2, h3 {
    display: block;
    letter-spacing: 1px;
}

h1 {
    font-size: 300%;
    font-weight: 100;
    line-height: 145%;
    width: 60%;
}

h2 {
    font-size: 300%;
    font-weight: 500;
    margin: 20px 0;
}

h3 {
    font-size: 200%;
    font-weight: 300;
}

h4 {
    font-size: 150%;
    font-weight: 500;
}

/* --- ICONS --- */

.icon-big {
    font-size: 300%;
    margin-right: 25px;
}

.icon-social {
    font-size: 200%;
    margin-right: 20px;
}

.icon-small {
    font-size: 140%;
    width: 80px;
    height: 60px;
    margin-right: 5%;
}

/* ------------------------------------------------- */
/* SECTIONS */
/* ------------------------------------------------- */

/* --- HEADER --- */

.alpha {
    color: #666;
}

.section-header h1, 
.section-header h3 {
    text-transform: uppercase;
}

.section-header {
    background: url('img/header.jpg');
    background-position: center right 5%;
    background-size: 40%;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    height: 100vh;
    position: relative;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 7.5%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
}

.header-copyright {
    position: absolute;
    text-align: right;
    top: 95%;
    right: 2.5%;
    -webkit-transform: translate(0%, -100%);
            transform: translate(0%, -100%);
}

.header-copyright,
.header-copyright a {
    color: #444;
    text-decoration: none;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}

.header-copyright a {
    font-weight: bold;
}

.header-copyright a:hover {
    color: #888;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}

/* --- HELLO, WORLD --- */

.section-hello-world {
    margin: 5vh;
    padding: 5vh;
    background-color: #ecf0f1;
}

.section-hello-world p {
    margin: 15px 0;
}

.section-hello-world a:link,
.section-hello-world a:visited {
    color: #555;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}

.section-hello-world a:hover,
.section-hello-world a:active {
    color: #777;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}

.section-hello-world .icons a:last-of-type i {
    margin: 0;
}

.center {
    position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
}

.flex {
    padding: auto;
    text-align: center;
    vertical-align: center;
}

#profile_pic {
    width: 30vh;
    height: auto;
    border-radius: 500px;
    -webkit-box-shadow: 0 2px 15px #888;
            box-shadow: 0 2px 15px #888;
    margin-top: 12.5vh;
}

/* --- MY PROJECTS --- */

.section-projects {
    padding: 7.5%;
}

.section-projects li {
    list-style-type: none;
    text-align: left;
}

.section-projects img {
    width: 260px;
    height: 150px;
    border-radius: 20px;
    -webkit-box-shadow: 0 2px 15px #888;
            box-shadow: 0 2px 15px #888;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px 0;
}

.section-projects a {
    text-decoration: none;
    color: #777;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}

.section-projects a:hover {
    color: #aaa;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
}

.category {
    padding: 2.5px 5px;
    margin: 2.5px;
    text-align: center;
    display: inline-block;
    color: white;
    font-size: 80%;
    border-radius: 2.5px;
    -webkit-box-shadow: 0 1px 15px #aaa;
            box-shadow: 0 1px 15px #aaa;
}

.web {
    background-color: #E91E63;
}

.mobile {
    background-color: #3F51B5;
}

/* --- CONTACT FORM --- */

.section-form {
    padding: 7.5%;
    background-color: #ecf0f1;
}

.contact-form {
    width: 99.5%;
    margin: 10px auto;
}

textarea {
    height: 10vh;
}

textarea:focus {
    color: #555;
    border-color: #555;
}

input {
    margin-top: 7.5px;
}

input:focus {
    color: #555;
    border-color: #555;
}

input[type=submit] {
    font-family: 'Ionicons';
    font-size: 140%;
    text-align: center;
    border-radius: 45px;
    color: white;
    background-color: #555;
    width: 57.5px;
    height: 57.5px;
    position: absolute;
    right: 15%;
    bottom: 15px;
    border: 0 !important;
    border-color: transparent !important;
}

textarea,
input.text,
input[type="text"],
input[type="email"],
input[type="submit"] {
    -webkit-appearance: none !important;
}

textarea,
input.text,
input[type="text"],
input[type="email"] {
    border-radius: 0 !important;
}

input[type=text],
input[type=email],
textarea {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 7px 0 7px 7px;
    border: 0;
    background-color: transparent;
    border-bottom: 3px solid #555;
    font-size: 95%;
    color: #555;
    opacity: 0.5;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}

input[type=text]:valid,
input[type=email]:valid,
textarea:valid {
    opacity: 1;
    -webkit-transition: 0.4s opacity;
    transition: 0.4s opacity;
}